
.menu{
    display: flex;
    justify-content: space-between;
    background-color:peru;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
    color: white;
    
}
body{
    background-color: whitesmoke;
}

.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.grid img{
    border: 2px solid black;
    border-radius: 50px;
    background-blend-mode: multiply;
    padding-top: 0;
   text-align: center; 
   display: flex;  
   justify-content: center; 
  margin-left: 80px;
  margin-top: 20px;
}
.bodyimg{
    background-image: url("back.jpg");
    height: 300px;
    margin-top: 2px;
    background-size:cover;
    font-size: large;
    text-align: center;
    font-weight: 700;
    color :mediumvioletred;
    padding-top: 30px;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: fantext-align: ;
}
.bodyimg h3{
    color : black
}
.item {
  
    margin-top: 50px;
    border-radius: 20px;
    background-color: white;
    width:370px;
    font-family: fantasy;
    justify-content: space-between;
}

